body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-family: 'Arvo', serif;
}

/* text-align: center; aligns everything that doesnt have a 'witdh' set */
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  color: #1687A7;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1687A7;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #276678;
}

p {
  font-size: 1.1rem;
}

hr {
   border-style: none;
   border-top: dotted;
   border-top-color: #276678;
   border-width: 5px;
   width: 5%;
   margin-bottom: 100px;

}
.footer-link {
  color: #F6F5F5;
  padding: 10px;
  text-decoration: none;
}


a:hover {
  color: #000000;
  font-size: 1.1rem;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding {
  float: left;
  margin-right: 30px;
}

.camera {
  float: right;
  margin-right: 30px
}

.first-p {
  width: 40%;
  margin: 0 auto 80px auto;
  line-height: 2rem;

}

.profile-picture {
  margin: 80px auto 50px auto;
}

/*
width: 30%;
margin: 0 auto 0 auto;
*/
/* when there is a width set like above^ we can then use the margin adjustment
to center the text by margin: 0 (refers to top margin) auto(right margin)
0 (bottom margin) auto(left margin) */
/* a shorthand for writing the above margin command
margin: 0 auto;

this works because 0 applies to top and bottom
and auto applies to left and right */

.topcontainer {
  background-color: #F6F5F5;
  position: relative;
  padding-top: 100px;
}

.contact-me p {
  margin: 50px;
}
.contact-me {
  margin-bottom: 50px;
}


.bottom-container {
  background-color: #1687A7;
  padding: 50px;
}

.bottom-container p {
  margin: 40px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 450px;
}

.bottom-cloud {
  position: absolute;
  top: 500px;
  left: 400px;
}

.button {
  background: #276678;
   background-image: -webkit-linear-gradient(top, #276678, #276678);
   background-image: -moz-linear-gradient(top, #276678, #276678);
   background-image: -ms-linear-gradient(top, #276678, #276678);
   background-image: -o-linear-gradient(top, #276678, #276678);
   background-image: -webkit-gradient(to bottom, #276678, #276678);
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 22px;
   font-weight: 600;
   padding: 17px;
   -webkit-box-shadow: 1px 1px 60px 0 #9B9B9B;
   -moz-box-shadow: 1px 1px 60px 0 #9B9B9B;
   box-shadow: 1px 1px 60px 0 #9B9B9B;
   text-shadow: 1px 1px 37px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.button:hover {
   border: solid #337FED 0;
   background: #276678;
   background-image: -webkit-linear-gradient(top, #276678, #1687A7);
   background-image: -moz-linear-gradient(top, #276678, #1687A7);
   background-image: -ms-linear-gradient(top, #276678, #1687A7);
   background-image: -o-linear-gradient(top, #276678, #1687A7);
   background-image: -webkit-gradient(to bottom, #276678, #1687A7);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
